Python.framework/
TODO/
cert.pem
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
DerivedData/
xcuserdata/
ContentService/*.json
Stories.xcodeproj/xcuserdata/sor.xcuserdatad/xcschemes/xcschememanagement.plist

*.swp
.DS_Store
